<div class="flex-1 p-10">
  <h2 class="text-center font-semibold text-2xl">{{ blog.title }}</h2>
  {% paginate blog.articles by section.settings.articles_limit %}
    <div class="grid grid-cols-3 justify-center grid-flow-row">
      {% for article in blog.articles %}
        <div id="article-box" class="shadow-md rounded-md m-5">
          {% if article.image %}
            <img
              class="w-full h-60 object-cover bg-cover"
              src="{{ article.image | img_url: 'large' | prepend: "https:"  }}"
              alt="{{ article.image.alt }}"
              height="auto"
              width="auto"
            >
          {% else %}
            <div class="w-full h-60">
              {% assign placeholder = 'lifestyle-1' %}
              {{ placeholder | placeholder_svg_tag }}
            </div>
          {% endif %}
          <div class="p-2">
            <h3 class="font-semibold text-md">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h3>
            {% if article.excerpt %}
              <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            {% endif %}

            {% if section.settings.show_readmore %}
              <button class="mt-5">
                <a class="px-5 py-2 font-normal text-xl bg-red-500 text-white rounded-md my-5" href="{{ article.url }}"
                  >Read More</a
                >
              </button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "settings": [
    {
      "type": "range",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
      "id": "articles_limit",
      "label": "Display Article"
    },
    {
      "type": "checkbox",
      "id": "show_readmore",
      "label": "Display button",
      "default": true
    }
  ]
}
{% endschema %}
